body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #003366;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

section {
    padding: 30px;
    text-align: center;
}

button {
    background-color: #0066cc;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}.formation {
    padding: 40px;
    text-align: center;
}

.cartes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.carte {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.carte h3 {
    color: #0066cc;
}

.carte button {
    margin-top: 10px;
}